@tailwind base;
@tailwind components;
@tailwind utilities;

.DropdownMenuContent {
  width: var(--radix-dropdown-menu-trigger-width);
  max-height: var(--radix-dropdown-menu-content-available-height);
}

@layer base {
  :root {
    --background:  0 0% 100%;
    --foreground: 24 100% 15%;

    --card: 36 100% 97%;
    --card-foreground: 24 100% 15%;

    --popover: 36 100% 97%;
    --popover-foreground: 24 100% 15%;

    --primary: 24 100% 50%;
    --primary-foreground: 36 100% 97%;

    --secondary: 24 100% 70%;
    --secondary-foreground: 24 100% 15%;

    --muted: 36 100% 90%;
    --muted-foreground: 24 100% 15%;

    --accent: 36 100% 90%;
    --accent-foreground: 24 100% 15%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 36 100% 97%;

    --border: 24 100% 90%;
    --input: 24 100% 90%;
    --ring: 24 100% 50%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;

    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;

    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;

    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
